- content_for :title do
  = @title

%h2 files
%div
  - @msgs.each do |msg|
    %div
      %h3.md5= msg.md5
      %div
        %span.size #{msg.blob.size.to_3digits} bytes
        %span.from from #{msg.from}
      %div
        %span.uploaded_at at #{msg.blob.uploaded_at}
      %div
        - url = "#{app_root}/#{msg.blob.file_path}"
        - if msg.blob.mime_type =~ /^image/
          %a{:href => url}
            %img{:src => url}
        - else
          file :
          %a{:href => url} download
          %a{:href => "#{url}/raw"} raw
        &nbsp;
        %span.mime_type [#{msg.blob.mime_type}]
