!!! XHTML
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title
      != yield_content :title
    %link{:rel => 'stylesheet', :href => "#{app_root}/main.css", :type => 'text/css'}
    != yield_content :head
  %body
    %div#content
      %div#header
        %div.right
          %a.feed{:href => "#{app_root}/rss"} rss
        %h1
          != yield_content :title
      %div#main
        != yield
      %hr
      %div#footer
        source code : 
        - src_url = 'https://github.com/shokai/face-app'
        %a{:href => src_url} #{src_url}
